html {
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: darkorange;
  font-size: 50px;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}

@media (min-width: 1000px) {
  h1 {
    color: darkorange;
    font-size: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
  }
}

.primer-div {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .primer-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    width: 100vw;
  }
}


h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

button {     
  margin-top: 10px;    
  border-radius: 0 15px 15px 15px;     
  padding: 12px;     
  background-color: orange;     
  font-weight: bolder;    
  font-size: 15px;     
  color: white;     
  border: none;     
  align-self: flex-end;   
}



